.header {
  height: 60px;
  background-color: $white;
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (min-width: 768px) {
    height: 80px;
  }

  > .flex-item {
    align-items: center;
  }

  &-border {
    border-bottom: 1px solid #ececec;
  }
  &-adress {
    font-size: 14px;
    color: $gray;
  }
  &-ico-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $gray;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-ico-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $gray;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .malto:hover &,
    .malto:focus & {
      fill: $acent;
    }
  }
}
.heder-ico-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $gray;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .tel:hover &,
  .tel:focus & {
    fill: $acent;
  }
}
.heder-ico-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $gray;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .malto:hover &,
  .malto:focus & {
    fill: $acent;
  }
}
.menu {
  position: relative;

  > .text {
    font-weight: 500;
  }
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
}
.curent {
  color: $acent;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $acent;
    bottom: -8px;
    left: 0;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      bottom: -29px;
    }
  }
}
.menu-link:hover::after,
.menu-link:focus::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $acent;
  bottom: -8px;
  left: 0;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    bottom: -29px;
  }
}
.tab-colum {
  display: block;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.tab-colum .menu {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.mobile {
  display: flex;
  z-index: 10;
  opacity: 1;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: absolute;
  background: $white;
  left: 0px;
  right: 0px;
  top: 61px;
  bottom: -453px;
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  @media screen and (min-width: 768px) {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: none;
  }

  &-padding {
    padding-bottom: 60px;
    @media screen and (min-width: 768px) {
      padding-bottom: 0px;
    }
  }
  &-padding .menu:not(:last-child) {
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }
  &-open-button {
    fill: $black;
    width: 40px;
    height: 40px;
  }
}
.mobilemenu {
  position: absolute;
  right: 15px;
  top: 10px;
  background: $white;
  border: none;
  @media screen and (min-width: 768px) {
    visibility: hidden;
    opacity: 0;
  }

  &:focus .mobile-open-button,
  &:hover .mobile-open-button {
    fill: $acent;
  }
  &:focus .mobile-close-button,
  &:hover .mobile-close-button {
    fill: $acent;
  }
  &.close-btn .mobile-close-button {
    visibility: visible;
  }
  &.close-btn .mobile-open-button {
    visibility: hidden;
  }
  .mobile-close-button {
    visibility: hidden;
  }
  .mobile-open-button {
    visibility: visible;
  }
}
.is-open {
  visibility: hidden;
  opacity: 0;
  @media screen and (min-width: 768px) {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
